*{
  margin:0px;
  padding:20px;
}

body {
 background-image: url("https://h24-original.s3.amazonaws.com/13147/23029682-EP85p.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 height: 100vh;
}

.header{
  text-align: center;
  font-size: 40px;
}

#event-on-text{
  width: 40%;
  height: 25px;
}

input[type=text] {
  border: 3px solid #ccc;
  border-radius: 12px;
  color: black;
  font-size	:20px;
  text-align: center;

}

section{

  border-radius: 12px;
}

.item{
  width: 50%;
  border-radius: 12px;
  margin: auto;
  margin-bottom: 30px;
  color: white;
  list-style-type: none;
  font-size: 40px;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  font-weight:bold;
}

@media only screen and (max-width: 600px) {
	.container-flex {
    display: flex;
		flex-direction: column;
	}
}
